.form {
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 1.25rem;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
