.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;

  &__tag {
    font-size: 0.75rem;
    border: 1px solid var(--border);
    padding: 0.2rem 0.6rem;
    border-radius: 0.5rem;

    &_interactive {
      cursor: pointer;
      transition: background 0.2s ease;
      &:hover {
        background-color: var(--accent-bg);
      }
    }

    &_active {
      background-color: var(--accent);
      color: var(--text-h);
    }
  }
}
