.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: 1.2rem;
}

.skeleton {
  flex: 1 1 280px;
  max-width: 340px;
  height: 380px;

  border-radius: 6px;
  background-color: var(--skeleton);
  animation: var(--animation-pulse);
}

.notfound {
  text-align: center;
}
